{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "insertPragma": false,
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false
}